{% extends 'base.html' %}
{% block title%}Home{% endblock %}

{%block content %}

<body>
    <header id="showcase">
        <h1>"Welcome to PC Builder listings Bay Area!"</h1>
        <p>
            <br>
            <br>
            <br>
            <br>
            <br>

            Community :“a group of people living in the same place or having a particular characteristic in common.” It
            also says that community is: “a feeling of fellowship with others, as a result of sharing common attitudes,
            interests, and goals.”
        </p>
        <a href="read_me" class="button">Read More</href></a>
    </header>
    <br>
    <br>
    <br>
    <br>
    <section>
        <h2>Man Vs Machine</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid commodi saepe esse consequatur quia
            necessitatibus nihil! Nihil, asperiores aliquid enim minima harum quaerat, consectetur accusamus debitis
            officia temporibus molestiae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur, voluptates ullam quibusdam,
            ipsam omnis aliquam ipsum maiores quod corrupti officiis voluptas vero, quo ex non doloremque temporibus
            ipsa rem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium ratione sunt suscipit numquam animi
            sequi fugit nam quae ab omnis recusandae sint laboriosam aperiam adipisci eius velit, porro eligendi.
            Voluptatem.
        </p>
    </section>

    <div class="container-fluid">
        <img src="https://images.unsplash.com/photo-1613258176465-eb77f3a050d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
            class="img-fluid" alt="...">
    </div>
    <br>
    <br>
    <br>
    <section>
        <h2>Unsung Heroes</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid commodi saepe esse consequatur quia
            necessitatibus nihil! Nihil, asperiores aliquid enim minima harum quaerat, consectetur accusamus debitis
            officia temporibus molestiae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur, voluptates ullam quibusdam,
            ipsam omnis aliquam ipsum maiores quod corrupti officiis voluptas vero, quo ex non doloremque temporibus
            ipsa rem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium ratione sunt suscipit numquam animi
            sequi fugit nam quae ab omnis recusandae sint laboriosam aperiam adipisci eius velit, porro eligendi.
            Voluptatem.
        </p>
    </section>
    <div class="container-fluid">
        <img src="https://images.unsplash.com/photo-1555626040-e1c570e4a213?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2002&q=80"
            class="img-fluid" alt="...">...
    </div>


    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid commodi saepe esse consequatur quia
            necessitatibus nihil! Nihil, asperiores aliquid enim minima harum quaerat, consectetur accusamus debitis
            officia temporibus molestiae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur, voluptates ullam quibusdam,
            ipsam omnis aliquam ipsum maiores quod corrupti officiis voluptas vero, quo ex non doloremque temporibus
            ipsa rem.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium ratione sunt suscipit numquam animi
            sequi fugit nam quae ab omnis recusandae sint laboriosam aperiam adipisci eius velit, porro eligendi.
            Voluptatem.
        </p>
    </section>
    <section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis natus quaerat aliquam ut voluptate quos.
            Modi aut quia ea perferendis architecto rem veniam totam, nam excepturi dolorem ducimus cupiditate cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatibus earum dolorum molestias laudantium
            libero in, quam eaque natus perspiciatis asperiores facere necessitatibus debitis dicta quo quasi, quod
            ducimus praesentium?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ipsam ullam enim quam explicabo aliquam
            impedit dicta, ipsum voluptatum rerum nihil ea adipisci quidem exercitationem at consectetur. Ratione, odio
            ipsum!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta aperiam beatae, sint atque, voluptatum
            deleniti aliquam illo amet eligendi facere neque natus harum nesciunt repellendus ea! Nihil earum deleniti
            optio?
        </p>
        </section>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid commodi saepe esse consequatur quia
                necessitatibus nihil! Nihil, asperiores aliquid enim minima harum quaerat, consectetur accusamus debitis
                officia temporibus molestiae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur, voluptates ullam quibusdam,
                ipsam omnis aliquam ipsum maiores quod corrupti officiis voluptas vero, quo ex non doloremque temporibus
                ipsa rem.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium ratione sunt suscipit numquam
                animi
                sequi fugit nam quae ab omnis recusandae sint laboriosam aperiam adipisci eius velit, porro eligendi.
                Voluptatem.
            </p>
        </section>
</body>

{%endblock%}